/* Reset de estilos para quitar márgenes y rellenos predeterminados */
body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Noto Sans", sans-serif; /*cambiar la fuente de letras de la pagina*/
}

body {
  background-color: #859952; /*cambiar el color del fondo de la pagina*/
}

/* Estilo de la barra de navegación */
header {
  background-color: #566d22;
  color: #fdfdfd;
  padding: 10px 0;
  display: flex;
  justify-content: space-between; /* Alinea el logo y la navegación en los extremos */
  align-items: center; /* Centra verticalmente los elementos en la barra de navegación */
  padding-inline: 20px;
}

.main {
  background-color: #859952;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-inline: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fdfdfd;
  font-weight: bold;
}

/* Estilo del logo */
.logo {
  max-height: 75px; /* Establece una altura máxima para el logo */
  display: flex;
  align-items: center; /* Centra verticalmente el logo dentro de su contenedor */

  border: white 1px solid;
  border-radius: 10px;

  :hover {
    cursor: pointer;
  }

  a {
    display: flex;
  }
}

.logo img {
  height: 90px; /* Establece la altura del logo al 100% de su contenedor */
  height: 75px;
  border-radius: 10px;
}

/* Otros estilos de la barra de navegación */
nav ul {
  list-style-type: none;
  display: flex;
  gap: 15px;

  li {
    background-color: black;
    padding: 5px 10px;
    border-radius: 5px;
    border: white 1px solid;
  }
}

nav ul li a:hover {
  color: #ecf39e; /* Cambia el color al pasar el mouse por encima */
}

/* Estilo de la sección principal */
main {
  text-align: center;
  padding: 50px;
  background-color: #a0c14d;
}

.hero {
  background-image: url("/img/background.jpg");
  background-size: contain;
  color: #fff;
  padding: 100px;

  h1 {
    font-size: 36px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 8px;
    padding-inline: 15px;
    margin-bottom: 20px;
    background-color: #0a4b3fe6;
  }

  p {
    width: fit-content;
    margin: 0 auto;
    border-radius: 8px;
    padding-inline: 10px;
    padding-block: 5px;
    margin-bottom: 20px;
    background-color: #0a4b3fe6;
  }
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  background-color: black;
  border-radius: 5px;
  border: white 1px solid;
}

/* Estilo de la sección de artículos */
.articles {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  max-width: 1200px;
  padding: 0 20px;
}

/* Estilo de cada artículo */
.article {
  flex-basis: calc(50% - 20px);
  background-color: #000000;
  border: 1px solid #ffffff;
  padding: 20px;

  color: #ffcbff; /*cambiar color de las letras en parte de abajo*/
}
/*  #ffcbff color rosa*/

.article h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffffffd5;
}

.main-logo {
  width: 150px;
  height: 150px;
  object-fit: fill;
  border-radius: 20px;
}

.article p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #fff2f2;
}

.article a {
  text-decoration: none;
  color: #ff4d88;
}

/* Estilo de la sección de contacto */
/* Estilos para el diseño de la página */
.contact {
  display: flex;
  flex-wrap: wrap;
  gap: 160px;
  justify-content: center;
  align-items: flex-start;
}

.contact-info,
.contact-form {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  max-width: 100%; /* Para asegurarse de que el mapa no exceda el tamaño del contenedor */
  overflow: hidden; /* Oculta cualquier contenido que exceda el tamaño del contenedor */
}

.map iframe {
  width: 100%; /* Hace que el iframe ocupe el 100% del ancho del contenedor */
  height: 100%; /* Hace que el iframe ocupe el 100% de la altura del contenedor */
}

/* Estilos para la sección de contacto */
.contact-info h1,
.contact-form h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info ul li {
  margin-bottom: 10px;
}

.wsp {
  background-color: #479059;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    width: 30px;
  }

  a {
    text-decoration: none;
    font-size: 20px;
    color: white;
  }
}

.contact-form form {
  max-width: 400px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: -webkit-fill-available;
  height: 30px;
  margin-bottom: 10px;
  border: 1px solid #5f0f6e;
  border-radius: 4px;
  padding-inline: 10px;
}

.contact-form textarea {
  padding-top: 10px;
  min-width: 300px;
  min-height: 100px;
}
.contact-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}
